renamerIdee/renamerIdee/obj/Debug/renamerIdee.exe
renamerIdee/renamerIdee/obj/Debug/renamerIdee.csproj.FileListAbsolute.txt
renamerIdee/renamerIdee/obj/Debug/renamerIdee.csproj.CoreCompileInputs.cache
renamerIdee/renamerIdee/obj/Debug/renamerIdee.csproj.AssemblyReference.cache
renamerIdee/renamerIdee/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
renamerIdee/renamerIdee/Matcher.cs
renamerIdee/renamerIdee/bin/Debug/renamerIdee.pdb
renamerIdee/renamerIdee/bin/Debug/renamerIdee.exe
renamerIdee/.vs/slnx.sqlite
renamerIdee/.vs/renamerIdee/v17/DocumentLayout.json
renamerIdee/.vs/renamerIdee/v17/DocumentLayout.backup.json
renamerIdee/.vs/renamerIdee/v17/.wsuo
renamerIdee/.vs/renamerIdee/v17/.suo
renamerIdee/.vs/renamerIdee/FileContentIndex/592ae92b-2b5a-46c0-9228-df5b8a5c1c1b.vsidx
Rename/Eingabe/obj/Debug/Eingabe.pdb
Rename/Eingabe/obj/Debug/Eingabe.exe
Rename/Eingabe/obj/Debug/Eingabe.csproj.FileListAbsolute.txt
Rename/Eingabe/obj/Debug/Eingabe.csproj.CoreCompileInputs.cache
Rename/Eingabe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rename/Eingabe/bin/Debug/Eingabe.pdb
Rename/Eingabe/.vs/ProjectEvaluation/eingabe.strings.v9.bin
Rename/Eingabe/.vs/ProjectEvaluation/eingabe.projects.v9.bin
Rename/Eingabe/.vs/ProjectEvaluation/eingabe.metadata.v9.bin
Rename/Eingabe/.vs/Eingabe/v17/DocumentLayout.json
Rename/Eingabe/.vs/Eingabe/v17/DocumentLayout.backup.json
Rename/Eingabe/.vs/Eingabe/v17/.wsuo
Rename/Eingabe/.vs/Eingabe/v17/.suo
Rename/Eingabe/.vs/Eingabe/v17/.futdcache.v2
Rename/Eingabe/.vs/Eingabe/FileContentIndex/dd889831-138d-4fde-ae27-5c25d2c5362d.vsidx
Rename/Eingabe/.vs/Eingabe/FileContentIndex/c02ac273-2f20-4fe5-9a35-b6c2633f0c82.vsidx
Rename/Eingabe/.vs/Eingabe/FileContentIndex/b325e4b2-2740-4d51-bed4-cd1297bf45f8.vsidx
Rename/Eingabe/.vs/Eingabe/FileContentIndex/9689338a-2c9f-4a2b-a409-a0cb5942f5c3.vsidx
Rename/Eingabe/.vs/Eingabe/FileContentIndex/8faa28b7-0afb-4c48-864c-7c2d27391457.vsidx
Rename/Eingabe/.vs/Eingabe/FileContentIndex/1fb51526-397c-4fd8-a316-f48bba9e6138.vsidx
Rename/Eingabe/.vs/Eingabe/DesignTimeBuild/.dtbcache.v2
Rename/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
Rename/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.assets.cache
Rename/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
Rename/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfo.cs
Rename/ConsoleApp1/obj/project.nuget.cache
Rename/ConsoleApp1/obj/project.assets.json
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.sourcelink.json
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
Rename/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
Rename/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
Rename/.vs/VSWorkspaceState.json
Rename/.vs/slnx.sqlite
Rename/.vs/Rename/v17/DocumentLayout.json
Rename/.vs/Rename/v17/DocumentLayout.backup.json
Rename/.vs/Rename/v17/.wsuo
Rename/.vs/Rename/FileContentIndex/630cc72d-5c61-467d-bb28-5529f94968b9.vsidx
Rename/.vs/Rename/FileContentIndex/29f6f867-5324-4229-a86b-1af8fe636453.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Renamer_25/v17/DocumentLayout.json
.vs/Renamer_25/v17/DocumentLayout.backup.json
.vs/Renamer_25/v17/.wsuo
.vs/Renamer_25/FileContentIndex/789957be-8828-4c08-aa1c-ae14d4da2741.vsidx
.vs/Renamer_25/FileContentIndex/53ff9d2b-8922-4fca-9072-d38ccd267999.vsidx
